* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*end of css reset*/ 

#cube1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #3bd6c6;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

#cube2, #cube3, #cube4, #cube5, #cube6, #cube7, #cube8, #cube9, #cube10 {
  box-sizing: border-box;
  align-items: center;
  padding: inherit;
}

#cube2 {
  width: 380px;
  height: 380px;
  background-color: #40e0d0;
}

#cube3 {
  width: 360px;
  height: 360px;
  background-color: #43e8d8;
}

#cube4 {
  width: 340px;
  height: 340px;
  background-color: #89ecda;
}

#cube5 {
  width: 320px;
  height: 320px;
  background-color: #b3ecec;
}

#cube6 {
  width: 300px;
  height: 300px;
  background-color: #ff7f50;
}  

#cube7 {
  width: 280px;
  height: 280px;
  background-color: #ff926a;
}

#cube8 {
  width: 260px;
  height: 260px;
  background-color: #ffa483; 
}

#cube9 {
  width: 240px;
  height: 240px;
  background-color: #ffb79d;
}

#cube10 {
  width: 220px;
  height: 220px;
  background-color: #ffcab6;
}

/*
#root {
  background-color: #45ff32;
}

div.container.wrapper {
  background-color: #131517;
}

 #root .container .container {/*ugyanaz az elérési útvonal csak root idn belül 2 containert be

  width: 200px;
  height: 200px;
 } */