
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*end of css reset*/ 

#root {
  width: 100%;
  min-height: 100vh;
}

#root button {
  padding: 20px;
  margin: 20px;
  background-color: rgb(30, 207, 148);
}