* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*end of css reset*/ 

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 80px;
  z-index: 99;
  text-align: center;
  background-image: linear-gradient(rgba(32, 126, 32, 0.8) 43%, transparent);
  font-family: 'Montserrat', sans-serif;
  color: #37054d;
  text-transform: uppercase;
  }

header a {
  padding: 0 20px;
}
  
section {
  min-height: 100vh;
}

section.image-holder {
  height: 100vh;
  overflow: hidden;
}

section.image-holder img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}

section.image-holder a {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: 60px;
  border: 5px solid #145214;
  border-radius: 30px;
  margin: 40px 0;
  padding: 10px;
  
  background-color: #1f7d1f;
  color:#37054d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

section.image-holder h1 {
  margin: 80px;
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #59007f;
}

#about {
  min-width: unset;
  max-height: fit-content;
  padding: 100px;
  background-image: url('https://samim.io/static/upload/Twins-in-the-Dark-Forest-764ozxxc.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

#about article{
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  padding: 80px 40px;
  margin: 0px auto;
  color: #37054d;
  background-color: rgba(69, 179, 223, 0.6);
}
#about h2 {
  padding-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

#services {
  padding: 80px 0;
  background-image: url(https://images.hdqwalls.com/download/mushroom-vw-1920x1080.jpg);
  background-size: cover;
  background-position: center center;
}

#services ul {
  width: 100%;
  max-width: 800px;
  padding: 40px 20px;
  margin: 0px auto;
  list-style: none;
  background-color: rgba(128, 182, 78, 0.6); 
  border-radius: 15px;

}

#services ul li {
  padding-bottom: 10px;
}

#services ul li h2,
#services ul li p {
  text-align: center;
}

#contact {
  background-color: rgba(128, 182, 78);
}

#contact form {
  width: 100%;
  max-width: 350px;
  padding: 40px 20px;
  margin: 0 auto;
}

#contact input,
#contact label {
  display: block;
  width: 100%;
}

#contact label {
  font-size: 18px;
  padding-bottom: 10px;
  color: #37054d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#contact input {
  height: 60px;
  padding: 0 10px;
  border-radius: 15px;
  border: 5px solid #145214;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#contact button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: 5px solid #145214;
  margin: 40px 0;
  background-color: #1f7d1f;
  color:#37054d;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}