 /* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*end of css reset*/ 

section {
  min-height: 100vh;
}

#pic {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: 100%;

  background-image: url('https://cdn.pixabay.com/photo/2017/09/25/21/13/mushrooms-2786789_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


section.image-holder img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover; /*need to be set on the object. not the parent element, to use as background startic position need to be changed*/
}

section.background-holder {
  background-image: url("cancada.jpg");
  background-size: 200px 200px; /*contain-nél ismétlődik a kép*/
  background-position: center center; /* így mindig a kép közepét próbálja tenni a reszponzív nézetnél*/ 
  background-repeat: no-repeat;
  background-color: black;
  padding: 20px;
  background-clip: content-box; /*maghatározza a méretét, nem nyúlik bele a section paadingjébe így h 20pxre van határozva*/
  border: 10px solid rgba(15, 80, 95, 0.5)
}

/*button {
  background-color: green;
}*/